.leaderboard-move {
    transition: transform 2s ease 1.5s;
}

.leaderboard-item {
    display: inline-block;
    margin-right: 10px;
}
.leaderboard-enter-active, .leaderboard-leave-active {
    transition: all 2s ease 1.5s;
}
.leaderboard-enter, .leaderboard-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.table .leaderboard-move td, .table .leaderboard-move th,
.table .leaderboard-enter-active td, .table .leaderboard-enter-active th,
.table .leaderboard-leave-active td, .table .leaderboard-leave-active th {
  text-align: center;/*
  border-top: 1pt solid transparent;
  border-bottom: 1pt solid transparent;*/
}

.table td, .table th {
  text-align: center;/*
  border-top: 1pt solid #aaa;
  border-bottom: 1pt solid #aaa;*/
}

tr:hover .t-name, tr:hover .t-problem {
    font-weight: bold;
}

.t-rank {
    width: 0.8%;
}
.t-problem, .t-score {
    width: 5.6%;
}
.t-name {
    width: 8.0%;
}
.t-penalty {
    width: 5.6%;
}

.perturb-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.entry-value-leave-active {
    transition: all 0.5s;
    font-weight: bold;
    opacity: 1;
    z-index: 999;
}

.entry-value-enter-active {
    transition: all 4s;
    font-weight: bold;
    opacity: 1;
    z-index: 999;
}

.entry-value-enter, .fade-leave-to {
    opacity: 0;
}


.table-head {
    background-color: #ccc;
}

.group-label-par-0 {
  background-color: #eee;
}

.group-label-par-1 {
  background-color: #ddd;
}
