.board-created .leaderboard-move {
    transition: transform 1.8s ease 1.5s;
}

.leaderboard-item {
    display: inline-block;
    margin-right: 10px;
}
.board-created .leaderboard-enter-active, .board-created .leaderboard-leave-active {
    transition: all 1.8s ease 1.5s;
}
.board-created .leaderboard-enter, .board-created .leaderboard-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
    line-height: 1.2;
}

.hilit tr:hover .t-name, .hilit tr:hover .t-problem {
    font-weight: bold;
}

tr {
    background-color: #1111;
}

.d-name {
    line-height: normal;
    max-height: 40px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
td.t-name:not(:hover) .d-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
td.t-name:hover .d-name {
    overflow: visible;
}
td.t-name {
    max-width: 250px;
}

td.t-score {
    font-weight: bold;
}

.t-rank {
    width: 0.6%;
}
.t-problem {
    width: 1.8%;
}
.t-score {
    width: 1.8%;
}
.t-name {
    width: 7.0%;
}
.t-penalty {
    width: 1.8%;
}
.t-attempts {
    width: 1.8%;
}

.board-created .entry-value-leave-active {
    transition: all 0.5s;
    font-weight: bold;
    opacity: 1;
    z-index: 999;
}

.board-created .entry-value-enter-active {
    transition: all 2s;
    font-weight: bold;
    opacity: 1;
    z-index: 999;
}

.board-created .entry-value-enter, .board-created .entry-leave-to {
    opacity: 0;
}


.table-head {
    background-color: #ccc;
}

.group-label-par-0 {
    background-color: #eee;
}

.group-label-par-1 {
    background-color: #ddd;
}
