<div class="container">
    <h1>Cryptogram!</h1>
    <p>To help you solve cryptograms.</p>
    <div class="row">
        <div class="col-sm">
            <div class="source-area"><span ng-repeat="letter in $storage.source track by $index" class="{{letter | cryptClass: $storage.mapping}}">{{ letter | decrypt: $storage.mapping | maybeCaps: $storage.caps }}</span></div>
        </div>
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label for="source">Paste your source text here. Clear and refresh to get a new one.</label>
                    <textarea id="source" type="text" ng-model="$storage.source" class="form-control" rows="2"></textarea>
                </div>
                <div>Answer key</div>
                <div class="form-group row no-gutter">
                    <div ng-repeat="letter in keys" class="col-2 text-center">
                        <label class="crypted">{{ letter }}</label>
                        <input type="text" ng-model="$storage.mapping[letter]" class="form-control decrypted">
                    </div>
                </div>
                <div class="form-check">
                    <input id="caps" type="checkbox" class="form-check-input" ng-model="$storage.caps">
                    <label for="caps" class="form-check-label">All caps</label>
                </div>
            </form>
            <button type="button" class="btn btn-danger clear-answers-button" ng-click="clearAnswers()">Clear answers</button>
        </div>
    </div>
</div>
